<META name="keywords" content="scrum, backlog, sprint, user stories, tool, contact">
<section class="contact_data">
  <article id="contact_data">
    
    <h2>Vielen Dank für Ihr Feedback!</h2>
 

    <p>Danke für Ihre zahlreichen und konstruktiven Hinweise zu unserem Backlogtool submarine.<br>
    Wir arbeiten mit Hochdruck an der Weiterentwicklung des Angebots und möchten dabei ganz besonders Ihre Vorschläge berücksichtigen.<br>
    <br>    
    Viel Spaß wünscht
    Ihr submarine Dev-Team</p>

    <%= link_to "zur Demo Seite", issues_path, :class => "button demo", :style => "width:150px; margin-right: 50px; float: right;", :title => 'Zur Demo' %>
    <%= link_to "zur Hauptseite", '/', :class => "button demo", :style => "width:150px", :title => 'Zur Demo' %>

   </article>
  <span>&nbsp;</span>
</section>
