meta name="keywords" content="scrum, backlog, sprint, user stories, tool, contact"
section.contact_data
  article#contact_data
    h2 Vielen Dank für Ihr Feedback!
    p Danke für Ihre zahlreichen und konstruktiven Hinweise zu unserem Backlogtool submarine.
    p Wir arbeiten mit Hochdruck an der Weiterentwicklung des Angebots und möchten dabei ganz besonders Ihre Vorschläge berücksichtigen.
    p Viel Spaß wünscht
    p Ihr submarine Dev-Team

    = link_to "zur Demo Seite", issues_path, :class => "button demo", :style => "width:150px; margin-right: 50px; float: right;", :title => 'Zur Demo'
    = link_to "zur Hauptseite", '/', :class => "button demo", :style => "width:150px", :title => 'Zur Demo'
  span
    | &nbsp;