<section id="main">

	<article class="issue_form">

		<ul class="form_header">
			<li><%= t 'issue.edit' %></li>
		</ul>


		<%= render 'form' %>

		<%= link_to t('cancel'), issues_path %>

	</article>

</section>
