<section id="main">

<article class="log" id="backlog">
<%= render :partial => "list", :locals => {:list_title => "Backlog", :list_id => "backlog_list", :list_items => @backlog_issues, :show_new_btn => true} %>
</article>

<article class="log" id="sprint">
<%= render :partial => "list", :locals => {:list_title => "Sprint Backlog", :list_id => "sprint_backlog_list", :list_items => @sprint_issues, :show_new_btn => false} %>
</article>

</section>

<script>
	$(function() {
		$("#sprint_backlog_list, #backlog_list").sortable({
			connectWith: ".connectedSortable",
      start: function(event,ui){
        $(ui.item).addClass("dragging");
      },
      stop: SUBMARINE.changeListHandler,
		}).disableSelection();
  });
SUBMARINE.changeListURL = "<%= change_list_path %>";
SUBMARINE.messages.save_failed = '<%= t 'issue.save_failed' %>';
</script>

