<section id="main">

<article class="log" id="backlog">
	<%= render :partial => "list", :locals => {:is_sprint => false, :list_items => @backlog_issues} %>
</article>

<article class="log" id="sprint">
	<%= render :partial => "list", :locals => {:is_sprint => true, :list_items => @sprint_issues} %>
</article>

</section>

<script>
	$(function() {
		$("#sprint_backlog_list, #backlog_list").sortable({
			connectWith: ".connectedSortable",
      start: function(event,ui){
        $(ui.item).addClass("dragging");
      },
      stop: SUBMARINE.changeListHandler,
		}).disableSelection();
  });
SUBMARINE.changeListURL = "<%= change_list_path %>";
SUBMARINE.messages.save_failed = '<%= t 'issue.save_failed' %>';
</script>

