/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#flashnotice {
  color: #009D91;
  border: 1px solid #009D91;
  min-width: 100px;
  width: 450px;
}
a {
  text-decoration: none;
}
h1 > a, h1 > a:visited {
  color: #1144AA;
}
a:visited {
  color: #00665E;
}
a:hover {
  background-color: #009d91;
  color: white;
}
h1 > a:hover {
  background-color: white;
  padding: 0;
}
div#wrapper{
  width: 1200px;
}
div#wrapper section div span {
  margin: 0 50px 0 0;
}
section#backlog{
  float: left;
  width: 600px;
  font-size: 1.2em;
}
section#sprint{
  width: 600px;
  float: right;
  font-size: 1.2em;
}
#backlog_list, #sprint_backlog_list { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
#backlog_list li, #sprint_backlog_list li { margin: 0 5px 5px 0; padding: 5px 2em 20px 5px; min-width: 300px; min-height: 15px;}

#backlog_list li span, #sprint_backlog_list li span {margin: 0 50px 0 0;}

#sprint_backlog_list{
  min-width: 300px;
  min-height: 150px;
}
#backlog_list{
  min-width: 300px;
  min-height: 150px;
}
