/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

/* "require_tree" resulted in a "stack level too deep" error in "rake assets:precompile". Therefore
 * the SASS import mechanism is used. */
@import "compass";
@import "issues";
@import "projects";
@import "swimbox";


$strip-line: 1px solid #ddd;
$width: 1240px;

#flashnotice {
  color: #339A97;
  border: 1px solid #009D91;
  border-radius: 2px 2px 2px 2px;
  background-color: #F2F1F0;
  @include background-image(linear-gradient(#DDD 0%, #F2F1F0));
  min-width: 100px;
  width: 450px;
  display: block;
  margin: 0 auto 35px auto;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-size: 10.5pt;
}

html {
  background: #F2F1F0;
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(#DDD 0%,#F2F1F0 300px));
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
}

a {
  img {
    border-style: none;
  }
}

.center {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

header {
  z-index: 10;
  background: white;
  border-bottom: $strip-line;
  width: 100%;
  position: fixed;
  top: 0;
  height: 85px;
  left: 0;

  .menu-left {
    float: left;
    width: 30%;
  }

  .menu-center {
    height: 85px;
    text-align: center;
    h1 {
      margin-top: 50px;
    }
  }

  .menu-right {
    float: right;
    width: 30%;

    .stack { margin: 0; padding: 0; float: right; margin-right: 6px;}
    .wrapper { height:85px; display:table-cell; vertical-align:bottom; }
    .content { max-height:100px; overflow:auto; }
    .content div { padding: 0; margin: 0; }
  }

  a img#logo {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    overflow: visible;
  }

  h1 {
    display: inline-block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
}


#page-content {
  margin-top: 130px;
}

#main {
  width: $width;
  margin: 10px auto auto auto;

  .issue_form {
    margin-left: auto;
    margin-right: auto;
  }
}

#finished_issues_section {
  width: 600px;
  margin: 150px auto 0;
}

footer {
  background: white;
  border-top: $strip-line;
  padding: 6px 0;
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  img {
    height: 14px;
  }

  span:nth-child(2) {
    display: block;
    float: right;
    margin-right: 1.5em;
  }

  .menu-left {
    display: block;
    float: left;
    width: 30%;
    min-height: 10px;
  }

  .menu-center {
    text-align: center;
  }

  .menu-right {
    float: right;
    text-align: right;
    padding-right: 7px;
    min-height: 10px;
    width: 30%;
  }
}

a {
  text-decoration: none;
    color: #00665E;
}

h1 > a, h1 > a:visited {
  color: #1144AA;
}

li > span {
  padding: 5px;
  display: block;
  float: left;
}

.dragging {
  background-color: #C2474B !important;
  color: white;
}

#notice {
  color: green; }

.field_with_errors > input,
 .field_with_errors > textarea {
  border: 2px solid #C2474B;
  border-radius: 2px 2px 2px 2px;
}

#error_explanation {
  width: 386px;
  border: 1px solid #C2474B;
  border-radius: 2px 2px 2px 2px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-left: 130px;
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(#DDD 0%, #F2F1F0));
  h2 {
    text-align: left;
    font-style: italic;
    font-weight: normal;
    padding: 5px;
    padding-bottom: 2px;
    font-size: 10.5pt;
    margin: -7px;
    margin-bottom: 0px;
    color: #555;
  }
  ul {
    padding-left: 0;
    li {
      font-size: 8.5pt;
      list-style: none;
      padding-bottom: 3px;
      margin-bottom: 4px;

      h3 {
        font-weight: bold;
        margin: 2px 0;
      }
    }
  }
}
section {
    #contact_data {
      margin: 10px;
      width: 100%;

      h2 {
        margin-top: 0;
        margin-bottom: 15px;
      }

      label {
        display: block;
        width: 150px;
        text-align: right;
        float: left;
        margin-right: 10px;
      }

      input {
        width: 300px;

        &[type=button] {
          width: auto;
          margin-left: 160px;
        }
      }

      textarea {
        height: 200px;
        width: 300px;
      }
    }
  }

#locking_form {
  text-align: right;
  margin-top: 20px;

  form { float: right;}

  button {

    font-size: 10pt;
    padding: 4px;

    img {
     vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }
}

#back-link {
 text-align: right;
}

noscript p {
  display: block;
  text-align: center;
  background-color: #C2474B;
  color: white;
  font-style: italic;
  width: 100%;
  display: block;
  padding: 3px;
}

.no_js {
  display: none;
}

.ui-dialog {
    @include box-shadow(black 0px 0px 10px);

    background: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;

    .ui-dialog-titlebar {
      border-color: #CCC;
      border-style: solid;
      border-width: 0 0 2px 0;
      padding: 5px;
      font-size: 12pt;
      font-style: bold;
      $experimental-support-for-svg: true;
      @include background-image(linear-gradient(#F2F1F0 0%,#DDD 30px));
    }
    .ui-button-text-only {
      margin: 5px;
      float: right;
      background: none;
      border: none;
      width: 101px;
      height: 32px;
      background-image: url(/assets/btn_background.png);
      cursor: pointer;
    }
    .ui-dialog-titlebar-close{
      display: none;
    }

    .ui-dialog-buttonset {
      width: 100%;
      display: table;
    }

    .ui-dialog-content {
      padding: 5px;
    }
}

.ui-widget-overlay {
  @include opacity(0.3);
  position: absolute;
  top: 0;
  background: gray;
}

#navigation {
  width: 620px;
  text-align: right;
  height: 25px;
  a {
    vertical-align: middle;
    height: inherit;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;

    &.selected {
      background-color: #168a94;
      color: white;
    }
  }
}