/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#flashnotice {
  color: #009D91;
  border: 1px solid #009D91;
  min-width: 100px;
  width: 450px;
}
a {
  text-decoration: none;

  &:visited {
    color: #00665E;
  }
}

h1 > a, h1 > a:visited {
  color: #1144AA;
}
div#wrapper {
  width: 1210px;

  section {
    float: left;
    font-size: 1.2em;
    width: 600px;
  }
  section:first-of-type {
    margin-right: 10px;
  }
}
span {
  padding: 5px;
  display: block;
  float: left;
}

ul { 
  width: 100%;
  min-height: 150px;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  float: left; 
  margin-right: 10px; 

  li {
    margin: 0; 
    cursor:pointer;cursor:hand;
    clear: both;
    padding-bottom: 5px;
  }
}
.dragging {
  background-color: #00665E !important;
  color: white;
}
