/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$strip-line: 1px solid #ddd;

#flashnotice {
  color: #009D91;
  border: 1px solid #009D91;
  min-width: 100px;
  width: 450px;
}

html {
  background: -webkit-linear-gradient(#DDD 0%,#F2F1F0 300px);
  background: -moz-linear-gradient(#DDD 0%,#F2F1F0 300px);
  background: -o-linear-gradient(#DDD 0%,#F2F1F0 300px);
  background: linear-gradient(#DDD 0%,#F2F1F0 300px);
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
}

header {
  height: 44px;
  background: white;
  border-bottom: $strip-line;
  margin-bottom: 66px;
}

#main {
  width: 1240px;
  margin: 0 auto;

  .log {
    float: left;
    width: 600px;
    padding: 0 10px;
  }
}

footer {
  background: white;
  border-top: $strip-line;
  padding: 15px 0;
  clear: both;
  text-align: center;
}

a {
  text-decoration: none;

  &:visited {
    color: #00665E;
  }
}

h1 > a, h1 > a:visited {
  color: #1144AA;
}

span {
  padding: 5px;
  display: block;
  float: left;
}

.dragging {
  background-color: #00665E !important;
  color: white;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
