/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#flashnotice {
  color: #009D91;
  border: 1px solid #009D91;
  min-width: 100px;
  width: 450px;
}
a {
  text-decoration: none;
}
h1 > a, h1 > a:visited {
  color: #1144AA;
}
a:visited {
  color: #00665E;
}
a:hover {
  background-color: #009d91;
  color: white;
}
h1 > a:hover {
  background-color: white;
  padding: 0;
}
