/* http://colorschemedesigner.com/#3J31Tw0w0w0w0 */

$li_border: 1px solid #ddd;

@mixin ul-base {
  width: 100%;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  float: left; 
  margin-right: 10px; 
  background: white;
}

ul.list_header {
  @include ul-base;
  border-radius: 2px 2px;
  border: $li_border;
  background: -webkit-linear-gradient(#F2F1F0 0%,#DDD 30px);
  background: -moz-linear-gradient(#F2F1F0 0%,#DDD 30px);
  background: -o-linear-gradient(#F2F1F0 0%,#DDD 30px);
  background: linear-gradient(#F2F1F0 0%,#DDD 30px);
  font-size: 14pt;

  li {
    float: left;
    padding: 10px 5px;
  }

  li.btn_in_header {
    float: right;
    padding: 5px 5px;
    
    img {
      padding-top: 5px;
    }
  }
}

ul.connectedSortable { 
  @include ul-base;
  min-height: 150px;
  border-left: $li_border;
  border-right: $li_border;

  li {
    margin: 0; 
    cursor:pointer;cursor:hand;
    clear: both;
    padding-bottom: 5px;
    border-bottom: $li_border;
    
    .issue_line {
      clear: both;
      
      div {
        float: left;
        padding-top: 3px;
      }
      
      div:nth-child(1) {
        width: 40px;
        padding-left: 3px;
      }

      div:nth-child(2) {
        overflow: hidden;
      }

      div.issue_type {
        float: right;
        width: 30px;
      }

      div.issue_id {
        float: right;
        width: 40px;
        text-align: left;
      }
      
      div.controls_container {
        margin-top: -5px;
        margin-right: 3px;
        width: 40px;
        float: right;

        div.controls {
          position: absolute;
          width: 50px;
          z-index: 3;
          display: none;
        }
      }      
    }
    
    .issue_story_points {
    }

    div.description {
      color: gray;
      font-size: 8pt;
      max-width: 490px;
    }
    
    div.short {
      height: 2.4ex;
    }
  }
}

