/* http://colorschemedesigner.com/#3J31Tw0w0w0w0 */

$default_border: 1px solid #ddd;
$article_default_width: 600px;

.log {
  float: left;
  width: $article_default_width;
  padding: 0 10px;
}

@mixin ul_base {
  width: 100%;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  float: left; 
  margin-right: 10px; 
  background: white;
}

@mixin ul_header {
  height: 43px;
  border-radius: 2px 2px;
  border: $default_border;
  background: -webkit-linear-gradient(#F2F1F0 0%,#DDD 30px);
  background: -moz-linear-gradient(#F2F1F0 0%,#DDD 30px);
  background: -o-linear-gradient(#F2F1F0 0%,#DDD 30px);
  background: linear-gradient(#F2F1F0 0%,#DDD 30px);
  font-size: 14pt;
}

ul.list_header {
  @include ul_base;
  @include ul_header;

  li {
    float: left;
    padding: 10px 5px;
  }

  li#btn_in_header {
    float: right;
    padding: 5px 5px;
    
    img {
      padding-top: 5px;
    }
  }
  
  li#story_points_sum {
    float: right;
    margin-right: 83px;
    margin-top: -5px;
    span {
      height: 22px;
      background: url("sp_sum_heavy.png") no-repeat center;
      font-size: 11pt;
      color: white;
      width: 30px;
      text-align: center;
      vertical-align: middle;
    }

    img#half_story_point_small {
      padding-top: 8px;
      margin-right: -22px;
      width: 21px;
    }

    img#half_story_point {
      margin-right: 5px;
      margin-top: 2px;
    }
  }
  
  li#show_finish_issues {
    float: right;
    margin-right: -132px;
    margin-top: -5px;
    
    img {
      padding-top: 5px;
      width: 24px;
    }
  }
}

ul.connectedSortable { 
  @include ul_base;
  
  min-height: 150px;
  border-left: $default_border;
  border-right: $default_border;

  li {
    margin: 0; 
    cursor:pointer;cursor:hand;
    clear: both;
    padding-bottom: 5px;
    border-bottom: $default_border;
    
    .issue_line {
      clear: both;
      
      div {
        float: left;
        padding-top: 3px;
      }
      
      div.project_logo {
        width: 40px;
        padding-left: 3px;
      }

      div.issue_name {
        overflow: hidden;
      }

      div.issue_type {
        float: right;
        width: 30px;
        margin-top: 2px;
      }

      div.issue_id {
        float: right;
        width: 40px;
        text-align: left;
        color: gray;
      }  
        
      div.issue_story_points {
        font-size: 8pt;
        font-weight: bold;
        color: #339A97;
        height: 22px;
        width: 48px;
        margin-top: -2px;
        float: right;
      }

      div.description {
        max-width: 490px;
        margin-left: 40px;
        padding-left: 3px;
        color: gray;
        font-size: 8pt;
        overflow: hidden;
      }
    
      div.short {
        height: 2.4ex;
      }
      
      div.controls_container {
        margin-top: -5px;
        margin-right: 3px;
        width: 40px;
        float: right;

        div.controls {
          position: absolute;
          width: 50px;
          z-index: 3;
          display: none;
        }
      }      
    }
  }
  
  form {
  }
}

.issue_form {
  width: $article_default_width;
  border: $default_border;
  margin-bottom: 50px;
  background: white;
  
  ul.form_header {
    @include ul_header;
    list-style-type: none; 
    margin-bottom: 30px;
    padding: 0;
    margin-top: 0;

    li {
      float: left;
      padding: 10px 5px;
    }
  }
  
  .field {
	  padding-bottom: 8px;
    clear: both;
  }

  .image_select {
    height: 20px;
  }

  label {
    width: 120px;
    padding-right: 10px;
    text-align: right;
    float: left;
  }
  
  input[type="text"] {
	  width: 400px;
  }
  
  textarea {
	  width: 400px;
  }
  
  .sp_radio_images,
   .type_radio_images,
   .project_radio_images {
    padding-top: 12px;
  }

  .radio_image {
    float: left;
    height: 22px;
    width: 21px;
    padding-right: 10px;
    width: auto;
  }

  .actions {
    margin: 15px auto;
    display: block;
    width: 255px;
  }
}














