/* http://colorschemedesigner.com/#3J31Tw0w0w0w0 */
div.description {
  color: gray;
  font-size: 8pt;
  position: absolute;
  width: 300px; 
  padding: 5px;
  margin-left: 63px;
}
div.short {
  height: 18px;
  overflow: hidden;
}
ul > li:nth-child(2n+1) {
  background-color: #eee;
}