@import "compass";

$default_border: 1px solid #ddd;
$article_default_width: 600px;

@mixin ul_base {
  width: 100%;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  float: left; 
  margin-right: 10px; 
}

@mixin ul_header {
  height: 43px;
  border-radius: 2px 2px;
  border: $default_border;
  font-size: 14pt;
}

.projects_table{
  width: 100%;
    .image{
      width: 60px;
      max-width: 60px;
    }
    .name{
      float: left;
    }
    .action{
      float: right;
      width: 16px;
      margin-right: 5px;
    }
}
.projects_main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.project_form {
  width: $article_default_width;
  border: $default_border;
  margin-bottom: 50px;
  background: white;
  
  ul.form_header {
    @include ul_header;
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(#F2F1F0 0%,#DDD 30px));
    list-style-type: none; 
    margin-bottom: 30px;
    padding: 0;
    margin-top: 0;

    li {
      float: left;
      padding: 10px 5px;
    }
  }
}
.form_label {
  margin-left: 20px;
  margin-top: 10px;

}
.form_field {
  margin-left: 20px;
  margin-top: 10px;
  width: 80%;
}
.form_image {
  margin-left: 80px;
  margin-top: 10px;
}
.form_file{
  margin-left: 80px;
  margin-top: 10px;
}
.form_checkbox{
  margin-left: 10px;

}
.actions {
  width: 203px;
  margin-left: auto;
  margin-right: auto;
}
.list_row {
  margin-top: 10px;
}
.projects_sub{
  background: white;
}