<META name="keywords" content="scrum, backlog, sprint, user stories, tool, contact">
<section class="contact_data">
  <article id="contact_data">
    <h2>Noch Fragen? Her damit!</h2>
      <p>
        <label>Betreff</label> <input> 
      </p>
      <p>
        <label>Ihre Fragen</label> <textarea></textarea>
      </p>
      <p>
        <label>Ihr Name</label> <input>
      </p>
      <p>
        <label>Ihre E-Mail-Adresse</label> <input>
      </p>
      <input type="button" value="Absenden">
      <%= link_to "Zurück zur Hauptseite", index_url%>
    </article>
  <span>&nbsp;</span>
</section>
