<META name="keywords" content="scrum, backlog, sprint, user stories, tool">
<META name="description" content="submarine ist ein Scrum-Tool für Backlogs. Es unterstützt Sie bei der Planung ihrer Sprints.">
<section>
  <article id="left_article">
    <h1>submarine - Ein Scrum-Tool für Backlogs</h1>
    Sie denken sich jetzt vielleicht: "Noch ein Scrum-Tool? Ist das wirklich notwendig?" Wir sagen: "Ja!". submarine ist nicht einfach ein Scrum-Tool, sondern ein Werkzeug, das vor allem bei der Sprint-Planung unterstützt. Dafür bietet submarine ein priorisiertes Backlog sowie eines für den aktuellen Sprint. Nicht mehr, aber auch nicht weniger.
    submarine ist lean. Konzentration auf das Wesentliche und Weglassen des ganzen unnötigen Schnick-Schnacks.

    <h2>Wieso sollte ich submarine benutzen?</h2>
    Sie haben schon das ein oder andere Scrum-Tool verwendet? Die vielen Funktionen machen es zu unübersichtlich? Oder haben Sie bei einem reinen Software-Tool des Öfteren vergessen den Status einzelner Aufgaben aktuell zu halten? submarine ist anders. Es unterstützt die Verwendung eines physischen Scrum-Boards für den aktuellen Sprint einerseits und bietet ein übersichtliches virtuelles Backlog andererseits. Dadurch kann das Sprint Planning Meeting quasi überall durchgeführt werden. Im Sprint Review können außerdem alle bearbeiteten Aufgaben direkt als abgeschlossen markiert werden.<br>

  </article>
  <article id="right_article">
    Falls wir Sie neugierig gemacht haben sollten, dann können Sie submarine gleich online ausprobieren. Sie brauchen sich dafür nirgends anzumelden und nichts zu installieren. Die Demo ist kostenlos - eine für alle Internetbenutzer öffentlich zugängliche Version von submarine.<br> <%= link_to "Ausprobieren", issues_path, :class => "button" %><br>
    
    <h2>Was kann submarine alles?</h2>
    submarine wird ständig weiterentwickelt und ist noch lange nicht fertig. Aktuell werden die folgenden Features unterstützt:
    <ul id="feature_list">
      <li>Aufgaben mehrerer Projekte in einem Backlog</li>
      <li>Eintragen, Bearbeiten und Löschen von Tasks, User Stories und Bugs mit Name, Beschreibung, Story Points und Projekt</li>
      <li>Priorisieren von Aufgaben aus Backlog und aktuellem Sprint</li>
      <li>Verschieben der Aufgaben in den aktuellen Sprint</li>
      <li>Abschließen und Archivieren von Aufgaben des aktuellen Sprints</li>
      <li>Reaktivieren abgeschlossener Aufgaben</li>
      <li>Automatische Berechnung der Summe alle Story Points im aktuellen Sprint</li>
    </ul>
  </article>
  &nbsp;
</section>
