<p style="clear:both; min-height: 8ex;">&nbsp;</p>
<footer>
  <div class="center">
    <div class="menu-left">
    </div>
  
    <div class="menu-right">
      <% feature_active? :persist_present_demo do %>
        <span>
          <%= link_to 'Impressum', impressum_path %>
        </span>
      <% end %>
    </div>
    
    <div class="menu-center">
      <span>
        powered by <%= link_to 'http://www.softwareinmotion.de' do %> <%= image_tag 'swim_logo.svg' %> softwareinmotion <% end %>
      </span>
    </div>
  
  </div>
</footer>
