<p style="clear:both; min-height: 8ex;">&nbsp;</p>
<footer>
  <span>
    powered by <%= link_to 'http://www.softwareinmotion.de' do %> <%= image_tag 'swim_logo.svg' %> softwareinmotion <% end %>
  </span>
  <span>
    <%= link_to 'Impressum', impressum_path %>
  </span>
</footer>
