doctype html
html
  head
    title Submarine
    = stylesheet_link_tag "navigation", "questions"
    = javascript_include_tag "navigation"
    = javascript_include_tag "swimbox.js"
    = csrf_meta_tags

    meta name="msvalidate.01" content="EC7C55357265A423945004A6731B561E"
    = favicon_link_tag
    | <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  body
    javascript:
      $(document).ready(SWIMBOX.init);
    header 
      div.center
        div.menu-left
          = link_to index_path do 
            = image_tag "logo.png", :id => "logo"
        div.menu-right
          div.stack
            div.wrapper
              div.content
                div#navigation
                  = render_navigation :renderer => :links
                | <a href="https://github.com/softwareinmotion/submarine"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    - flash.each do |name, msg|
      = content_tag :div, msg, id: "flash#{name}"
    
    = yield

    = render :partial => "layouts/footer"